body {
    margin: 0;
    background: #000000;
    color: #ebebeb;
    font-family: monospace;
}

pre {
    font-family: monospace;
    font-size: .25vw;
    line-height: 1;
}

#terminal {
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
}

#output {
    white-space: pre-wrap;
}

#input-line {
    display: flex;
    gap: 10px;
}

#input-line input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #ebebeb;
    font-family: monospace;
    font-size: 16px;
}