body {
    margin: 0;
    background: #000000;
    color: #ebebeb;
    font-family: monospace;
}

pre {
    font-family: monospace;
    font-size: clamp(8px, 2.5vw, 16px);
    line-height: 1;
    white-space: pre;
    text-align: center;
    overflow: hidden;
}

#command {
    outline: none;
    color: #ebebeb;
    font-family: monospace;
    font-size: 16px;
    caret-color: transparent;
    white-space: pre;
}

#command:after {
    content: "_";
    animation: blink 1s step-end infinite;
}

#command-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
}

#cursor {
    animation: blink 1s step-end infinite;
}

/* Terminal */
#terminal {
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
}

/* Output */
#output {
    white-space: pre-wrap;
}

/* Command line */
#input-line {
    display: flex;
    gap: 0;
    white-space: nowrap;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Prompt */
#input-line span {
    flex-shrink: 0;
}

/* Input */
#input-line input {
    flex: 1;
    min-width: 0;
    background: transparent;
    border: none;
    outline: none;
    color: #ebebeb;
    font-family: monospace;
    font-size: 16px;
}